<template>
    <q-form/>
</template>
<script>
import qForm from '../components/qForm.vue'
export default {
  components: { qForm },
  data(){
    return{
    
    YourAllAns  : [],

    title : "Quiz1",
    Questions:[{
      Discription : "Question 2",
      Ans : ["a" , "b" , "c" , "d"],
      CAns : "a"
    },{
      Discription : "Question 1",
      Ans : ["a" , "b" , "c" , "d"],
      CAns : "d"
    },
    ]
  }
  }
}
</script>