<template>
  <div class="about" >
    <h1>{{title}}</h1>
      <ul>
         <li v-for="(item,idx) in Questions" :key="idx">
            <v-card>
              <v-card-title> {{item.Discription}} </v-card-title>
              <!-- <v-row> 
                <v-col lg="4" v-for="(choice,index) in item.Ans" :key="index">
                  <b-form-checkbox v-model="checked1" name="check-button" onClick="" button>
                        {{choice}} <b>(Checked: {{ checked1 }})</b>
                  </b-form-checkbox>                
                </v-col>
              </v-row> -->

              <b-list-group>
                <b-list-group-item
                  v-for="(answer, index) in Ans"
                  :key="index"
                  @click.prevent="selectAnswer(index)"
                  :class="answerClass(index)"
                >
                  {{ answer }}
                </b-list-group-item>
              </b-list-group>

              <!-- <v-row>
                <v-col lg = "4">
                        <b-form-checkbox v-model="btn_ans1" name="check-button" button>
                        {{item.Ans[0]}}
                  </b-form-checkbox> 
                </v-col>
                <v-col lg = "4">
                  <b-form-checkbox v-model="btn_ans2" name="check-button" button>
                        {{item.Ans[1]}}
                  </b-form-checkbox>
                </v-col>
                <v-col lg = "4">
                  <b-form-checkbox v-model="btn_ans3" name="check-button" button>
                        {{item.Ans[2]}}
                  </b-form-checkbox>
                </v-col>
                <v-col lg = "4">
                  <b-form-checkbox v-model="btn_ans4" name="check-button" button>
                        {{item.Ans[3]}}
                  </b-form-checkbox>
                </v-col>
              </v-row> -->
            </v-card>
         </li>
      </ul>

              <b-button
                variant="primary"
                @click="submitAnswer"
                :disabled="selectedIndex === null || answered"
              >
                Submit
              </b-button>
              <b-button @click="next" variant="success">
                Next
              </b-button>
  </div>
</template>

<script>
export default {
  props: {
    currentQuestion: Object,
    next: Function,
    increment: Function
  },
  data(){
    return{
    selectedIndex: null,
      correctIndex: null,
      shuffledAnswers: [],
      answered: false,

    YourAllAns  : [],

    title : "Quiz1",
    Questions:[{
      Discription : "Question 2",
      Ans : ["a" , "b" , "c" , "d"],
      CAns : "a"
    },{
      Discription : "Question 1",
      Ans : ["a" , "b" , "c" , "d"],
      CAns : "d"
    },
    ]}
  },
  watch: {
    currentQuestion: {
      immediate: true,
      handler() {
        this.selectedIndex = null
        this.answered = false
        this.shuffleAnswers()
      }
    }
  },
  method:{
    selectAnswer(index) {
      this.selectedIndex = index
    },
    submitAnswer() {
      let isCorrect = false

      if (this.selectedIndex === this.correctIndex) {
        isCorrect = true
      }
      this.answered = true

      this.increment(isCorrect)
    },
    
     answerClass(index) {
      let answerClass = ''

      if (!this.answered && this.selectedIndex === index) {
        answerClass = 'selected'
      } else if (this.answered && this.correctIndex === index) {
        answerClass = 'correct'
      } else if (this.answered &&
        this.selectedIndex === index &&
        this.correctIndex !== index
      ) {
        answerClass = 'incorrect'
      }

      return answerClass
    }
  }


}
</script>